html, body {
  margin: 0;
  padding: 0; }

.site-container {
  width: 100%;
  margin: 0;
  padding: 0; }

@media only screen and (min-width: 450px) {
  .site-container {
    width: 80%;
    margin: 0 auto; } }

/*# sourceMappingURL=memorylane.css.map */
