html {
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.clear{
    zoom:1; /* For IE 6/7 */

    &.before,
    &.after{
        content:"";
        display:table;
    }

    &.after{
        clear:both;
    }
}

/****** Defining row classes to 
 ****** be able to properly hold
 ****** and manage columns.
 ******/

.row{
    @extend .clear;
    .col{
        float: left;
    }
}

/*** This reverse row class allows
 *** columns to break in the reverse
 *** order. 
 ***/
.row-reverse{
    @extend .clear;
    .col {
        float: right;
    }
}